h1{
    margin-block-start: 1%;
}

.main{
    padding-left: 10%;
    padding-right: 10%;
}
.corner{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: rgb(131, 51, 4);
}

.corner0{
    padding-top: 1%;
    text-align: center;
}

.corner1{
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}